body {
    background-color: antiquewhite;
}
.navbar {
    list-style: none;
    background-color: brown;
    margin: 0px auto;
    padding: 10px 10px;
    width: auto;
    text-align: center;
    font-size: 25px;
}

.navbar li {
    display: inline-block;
}
.navbar li a{
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    padding: 10px 50px;
    
}
.navbar li a:hover {
    background-color: chocolate;
}
h1{
    margin-left: 40px;
}
h2 {
    margin: 15px;
    margin-left: 55px
}
p {
    padding: 0px 65px;
    padding-right: 65px;
}
ul {
    padding-left: 105px;
    line-height: 25px;
}
ol {
    padding-left: 105px;
    padding-right: 105px;
    line-height: 25px;
}

table {
    padding: 25px;
}

.imageGallery {
    width:1000px;
    margin: 0px auto; 
}

.imagGallery td {
    padding: 15px;
}