body {
    background-color: antiquewhite;
}
.navbar {
    list-style: none;
    background-color: brown;
    margin: 0px;
    padding: 10px 10px;
    width: 500;
    text-align: center;
}

.navbar li {
    display: inline-block;
}
.navbar li a{
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    padding: 50px;
    
}
.navbar li a:hover {
    background-color: chocolate;
}

.imageGallery {
    width:1000px;
    margin: 0px auto;  
}

.imagGallery td {
    padding: 15px;
}